body {
    background-color: #CFCEC3;
    font-family: 'Jacques Francois', serif;
    color: #252223;
    margin: 0;
}

/* Main container */
.container {
    width: 820px;
    margin: 0 auto;
}

/* Hero section */
#hero {
    text-align: center;
    padding-top: 20px;
}

/* Main title */
h1 {
    font-family: 'Italiana', serif;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Image */
figure img {
    width: 560px;
}

/* Caption */
figcaption {
    font-size: 19px;
    margin-top: 12px;
    margin-bottom: 40px;
}

/* Quote section */
.quote {
    background-color: #252223;
    color: white;
    width: 510px;
    padding: 25px;
    margin-left: 125px;
    margin-bottom: 80px;
    border: 2px solid #252223;
}

/* Quote text */
blockquote {
  text-align: left;
    font-size: 18px;
    line-height: 1.4;
}

/* Quote author */
.quote-author {
    text-align: right;
    margin-top: 15px;
    font-size: 18px;
    opacity: 100%;
}

/* Timeline section */
#Timeline {
    padding-left: 120px;
    padding-right: 120px;
}

/* Timeline articles */
article {
    margin-bottom: 0px;
}

/* Left timeline */
.left {
    width: 250px;
    text-align: right;
}

/* Right timeline */
.right {
    width: 250px;
    margin-left: 320px;
}

/* Years */
h2 {
    font-family: 'Italiana', serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* Paragraphs */
p {
    font-size: 13px;
    line-height: 1.5;
    opacity: 70%; 
}

/* Footer */
footer {
    background-color: #252223;
    color: white;
    width: 510px;
    padding: 35px;
    margin-top: 80px;
    margin-left: 125px;
    opacity: 100%;
}

/* Footer link */
footer a {
    color: #1A90FF;
}

/* Hover */
footer a:hover {
    color: white;
}

/* Visited */
footer a:visited {
    color: #bb72ff;
}

/* Active */
footer a:active {
    color: #fff0d1;
}